{{#>wrapper}}
    <a name="contacts"></a>
    {{#each contacts}}
    <div class="contact">
        <div class="name">{{name}}</div>
        {{#if phone}}Phone: <a href="tel:{{phone}}">{{phone}}</a>{{/if}}
        {{#if email}}<br/><a href="mailto:{{email}}">{{email}}</a>{{/if}}
        
    </div>
    {{/each}}
{{/wrapper}}