{{#>wrapper}}
    {{#each global.depots}}
    {{#if details.show_in_contacts}}
    <div class="contact">
        <div class="name">{{address.title}}{{address.city}}{{#if address.region}}, {{address.region.full}}{{/if}}</div>
        {{#if contact.phone}}<div class="phone">Phone: <a href="tel:{{contact.phone}}">{{contact.phone}}</a></div>{{/if}}
        {{#if contact.email}}<div class="email"><a href="mailto:{{contact.email}}">{{contact.email}}</a></div>{{/if}}
    </div>
    {{/if}}
    {{/each}}
{{/wrapper}}