{{#>wrapper}}
<span itemscope itemtype="http://schema.org/Organization">
<span itemprop="name" content="Jazoo Express Courier Ltd"></span>
<span itemprop="url" content="http://www.jazoocourier.com/"></span>
{{#each warehouses}}
<div class="location" itemprop="department" itemscope itemtype="http://schema.org/Organization">
    <div class="name">{{address.city}}</div>
    <div class="details">
        {{#if service_area}}<div class="servicearea">{{service_area}}</div>{{/if}}
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{address.address}}</span><br/>
            <span itemprop="addressLocality">{{address.city}}</span>,
            <span itemprop="addressRegion">{{address.region.region}}</span><br/>
            <span itemprop="postalCode">{{address.postal_code}}</span>
            <span itemprop="addressCountry" content="CA"></span>
        </div>
        <div class="contact">
            Dispatch: <span itemprop="telephone">{{contact.phone}}</span><br/>
            <span itemprop="email">{{contact.email}}</span>
        </div>
    </div>
</div>
{{/each}}

{{#each depots}}
<div class="location" itemprop="department" itemscope itemtype="http://schema.org/Organization">
    <div class="name">{{address.city}}</div>
    <div class="details">
        <div class="servicearea">
            {{#if service_area}}{{service_area}}<br/>{{/if}}
            Facilities provided by: <em>{{details.depot_host}}</em><br/>
            Please call for access details.
        </div>
        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{{address.address}}</span><br/>
            <span itemprop="addressLocality">{{address.city}}</span>,
            <span itemprop="addressRegion">{{address.region.region}}</span><br/>
            <span itemprop="postalCode">{{address.postal_code}}</span>
            <span itemprop="addressCountry" content="CA"></span>
        </div>
        <div class="contact">
            Dispatch: <span itemprop="telephone">{{contact.phone}}</span><br/>
            <span itemprop="email">{{contact.email}}</span>
        </div>
    </div>
</div>
{{/each}}
</span>
{{/wrapper}}